build/
out/
*.o
*.obj
*.a
*.lib
*.dll
*.so
*.dylib
*.exe
*.pdb
*.ilk
.vs/
.vscode/
.idea/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

bios/openbios.bin
bios/openbios.bin.sha512

games/
*.bin
*.iso
*.cue
*.chd
*.img

!bios/.gitkeep
